.card-grafico__container{
    width: 90vw;
    text-align: center;
    margin: 1.5em auto 0 ;
    background-color: var(--branco);
    border-radius: 5px-;
    
   
}
.card-grafico__titulo{
    font-size: 16px;
    display: inline-block;

    margin: 1.5em 0;
}

.card-grafico__chart{
    display: inline-block;
    align-items: center;
    margin: 0 auto;
    
}

@media screen and (min-width: 820px){
    .card-grafico__container{
        display: flex;
        flex-direction: column;
        width: 100%;
       
       margin-bottom: 3em;
   
    }

    .card-grafico__chart{
       
        align-items: center;
        margin: 0 auto;
        
    }
}

@media screen and (min-width: 1280px){
   .container-card__grafico-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 2em;
    align-self: flex-start;
    
    
    
   }
   .card-grafico__container{
    width: 100%;
    height: 270px;
    margin: 0.5em;
   
   }
   
   .card-grafico__chart{
    width: 100%;
   
   }

   
   
    
}